* {
  box-sizing: border-box;
}

body {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  box-sizing: border-box;
  margin: 0;
  padding: 0 10%;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 14px;
}

.logo {
  width: 75%;
  margin-top: 32px;
  align-self: center;
}

.logo img {
  max-width: 100%;
}

.search {
  width: 100%;
}

.search-form {
  display: flex;
}

.search-form input[type="search"] {
  flex: 1;
  height: 34px;
  padding: 6px;
  border: 1px solid #CCC;
  border-right: none;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s;
}

.search-form input[type="search"]:focus {
  outline: 0;
  border-color: #53a93f;
}

.search-form input[type="submit"] {
  padding: 0 12px;
  background-color: #53a93f;
  color: #FFF;
  border: none;
  cursor: pointer;
}

ul {
  margin: 5px 0 10px;
  padding-left: 0;
}

li {
  list-style-type: none;
  margin: 3px 0;
  font-size: 16px;
}

.suggestion {
  margin-top: 10px;
}

.suggestion li {
  float: left;
  margin: 3px;
}

.suggestion li:after {
  content: ','
}

.suggestion li:first-child:after,
.suggestion li:last-child:after {
  content: '';
}

a {
  color: #428bca;
  text-decoration: none;
  line-height: 18px;
  cursor: pointer;

}

a:hover {
  text-decoration: underline;
}

.more-results {
  margin-top: 10px;
}